/*=== GERAL ===*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

html {
  --background: #5f404250;
  --text-color: #b3b3b3;

  scroll-behavior: smooth;
}

/* Making the html and body 100% of the viewport. */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background-color: var(--background);
}

h1 {
  background-color: var(--text-color);
  color: aqua;
}

.teste {
  color: rebeccapurple;
}

.rodondo {
  width: 50rem;
  height: 50rem;
  background-color: black;
  border-radius: 55%;
  margin: auto;
  margin-top: 15rem;
}

#teste1 {
  color: brown;
}
