/*=== GERAL ===*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

html {
  scroll-behavior: smooth;
}

/* Making the html and body 100% of the viewport. */
html,
body {
  width: 100%;
  height: 100%;
}

h1 {
    color: aqua;
}